<!DOCTYPE html>
<body>
    <div>
        <h4><%= instruction %></h4>

        <p>If you count A to Z in nunber is going to be 1 to 26. 
            For example: A = 1, B = 2, C = 3 AND 1 = A, 2 = B, 3 = C.</p>
                   
      <p>You are to enter the correct Character or 
          Number for the quetion ask and press ENTER KEY or click on submit button.
         For example: What is BBA?. The answer is 22A. </p>

         <br>
         <a href="start">Start Game</a>

    </div>
</body>
</html>