<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ABC123</title>
  </head>
  <body>
    <h2>ABC 123 Smart Game!</h2>

    <div class="container">
      <h4><%= instruction %></h4>
     
      <div class="inc-exp-container">
        <p>If you count A to Z in nunber is going to be 1 to 26. 
            For example: A = 1, B = 2, C = 3 AND 1 = A, 2 = B, 3 = C.</p>
                   
      <p>You are to enter the correct Character or 
          Number for the quetion ask and press ENTER KEY or click on submit button.
         For example: What is BBA?. The answer is 22A. </p>
      </div>


      <form id="form">
        <a class="btn" href="start">Start Game</a>
      </form>
    </div>

  </body>
</html>